/* Customize any additional styling here */
.img-fluid {
    border: 3px solid #000000; /* Optional: Add a border to profile image */
    padding: 5px;
  }

.MDBCard {
    background-color: rgba(255, 255, 255, 0); /* Fully transparent background */
}

  /* SVG Background Styling */
svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: block;
  z-index: -1; /* Ensures it stays in the background */
  background-color: #ffffff; /* Light grey background */
}